[Unit]
Description=IPFS Daemon
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=sh -c "/usr/local/bin/ipfs -c /root/.ipfs daemon" | tee /var/log/ipfs.log
WorkingDirectory=/root/.ipfs
KillMode=control-group
KillSignal=2
SendSIGHUP=yes


[Install]
WantedBy=multi-user.target
